<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.openjdk.jmc.rjmx.descriptorProvider">
      <provider
            class="org.eclipse.jmc.jolokia.JolokiaDiscoveryListener">
      </provider>
   </extension>
      <extension
         point="org.openjdk.jmc.rjmx.jmxProtocols">
      <client
            class="org.eclipse.jmc.jolokia.JmcJolokiaJmxConnectionProvider" protocol="jolokia">
            <sysproperty name="running.in.jmc" include="true" />
      </client>
   </extension>
</plugin>
